.message-form
  .chat-side
    .chat-side__header
      .chat-side__header__box
        %p.chat-side__header__box__name yutaro
        %ul.chat-side__header__box__name
          %li.chat-side__header__box__name
          %li.chat-side__header__box__name
  .chat-main