
-# .chat-main
-#   .chat-main__header
-#     .chat-main__header__box
-#       .chat-main__header__box__name test-group
-#       .chat-main__header__box__members member: yutaro
-#     .chat-main__header__edit
-#       = link_to root_path do
-#         .chat-main__header__edit__text Edit
.chat-main__message
  = render @messages
  -# .chat-main__form
  -#   =form_for [@group, @message] do |f|
  -#     = f.text_field :content, class: 'chat-main__form__new-message', placeholder: 'type a message'
  -#       = f.label :image, class: 'chat-main__form__new-message__image' do
  -#         = fa_icon 'picture-o' class: 'chat-main__form__new-message__image'
  -#           = f.file_field :image, class: 'chat-main__form__new-message__image__file'
  -#             = f.submit 'Send', class: 'chat-main__form__new-message__send-btnchat-main__form__new-message__send-btn'
        