.message-form
  .chat-side
    .chat-side__header
      .chat-side__header__box
        %p.chat-side__header__box__name
          = current_user.name
        %ul.chat-side__header__box__menu
          %li.chat-side__header__box__create-group
            = link_to new_group_path do
              %i.fa.fa-edit
          %li.chat-side__header__box__edit-account
            = link_to edit_user_path(current_user) do
              %i.fa.fa-cog
    .chat-side__groups
      .chat-side__groups__group
        .chat-side__groups__group__name test-group
        .chat-side__groups__group__message これはtestです
  .chat-main
    .chat-main__header
      .chat-main__header__box
        .chat-main__header__box__name test-group
        .chat-main__header__box__members member: yutaro
      .chat-main__header__edit
        = link_to root_path do
          .chat-main__header__edit__text Edit
    .chat-main__messages
      .chat-main__messages__group
        .chat-main__messages__group__upper
          .chat-main__messages__group__upper__name test-user
          .chat-main__messages__group__upper__date 2019/07/27(Sat) 10:53:19
        .chat-main__messages__group__lower
          .chat-main__messages__group__lower__text これはテストです
    .chat-main__form
      %form.chat-main__form__new-message
        %input.chat-main__form__new-message__input-box{placeholder: "type a message", type: "text"}
        %label.chat-main__form__new-message__image{for: "chat-main__form__new-message__input-box", id: "input-box", for: "image"}
          %i.fa.fa-image
          %input#image.chat-main__form__new-message__image__file{name: "message", type: "file"}

        %input.chat-main__form__new-message__send-btn{value: "Send", type: "submit"}
